<footer class="flex flex-col px-12 xl:px-24">
    <div class="flex justify-center mb-8 text-center text-xs md:text-base">
        <p class="text-primary-green dark:text-secondary-green">Copyright <span
                    class="text-sm text-primary-green dark:text-secondary-green">&copy</span> 2022 Grecycle. All Rights
            Reserved.</p>
    </div>
</footer>
<script src="/js/index.js"></script>
<script src="/js/admin/admin.js"></script>
</body>
</html>