<div class="mx-12 my-6 border-b-2 border-primary-green dark:border-secondary-green"></div>
<footer class="flex flex-col px-12 xl:px-24">
    <div class="flex justify-between">
        <ul class="flex justify-around items-center text-lg">
            <li class="text-primary-green dark:text-secondary-green px-6">Newsletter</li>
            <li class="text-primary-green dark:text-secondary-green px-6">Privacy Policy</li>
            <li class="text-primary-green dark:text-secondary-green px-6">Terms of Use</li>
            <li class="text-primary-green dark:text-secondary-green px-6">Contact Us</li>
        </ul>
        <div class="flex flex-row rounded-full px-4 py-2 space-x-6 dark:bg-gray-100">
            <a href="" class=""><img src="/images/facebook-icon.svg" alt="" class="h-9"></a>
            <a href="" class=""><img src="/images/instagram-icon.svg" alt="" class="h-9"></a>
            <a href="" class=""><img src="/images/linkedin-icon.svg" alt="" class="h-9"></a>
        </div>
    </div>
    <div class="flex justify-center px-6 py-8">
        <p class="text-primary-green dark:text-secondary-green">Copyright <span class="text-sm text-primary-green dark:text-secondary-green">&copy</span> 2022 Grecycle. All Rights Reserved.</p>
    </div>
</footer>
<script src="/js/index.js"></script>
</body>
</html>