<footer class="mx-20">
    <div class="h-0.5 bg-primary-green mb-8"></div>
    <div class="grid grid-cols-3 justify-around items-center justify-between mx-5">
        <div class="text-lg">
            <ul class="cursor-pointer">
                <li class="text-primary-green dark:text-secondary-green">Privacy Policy</li>
                <li class="text-primary-green dark:text-secondary-green">Terms of Use</li>
            </ul>
        </div>
        <div class="text-lg">
            <ul class="cursor-pointer">
                <li class="text-primary-green dark:text-secondary-green">Privacy Policy</li>
                <li class="text-primary-green dark:text-secondary-green">Terms of Use</li>
            </ul>
        </div>
        <div class="text-lg">
            <ul class="cursor-pointer">
                <li class="text-primary-green dark:text-secondary-green">Privacy Policy</li>
                <li class="text-primary-green dark:text-secondary-green">Terms of Use</li>
            </ul>
        </div>
    </div>
</footer>
<script src="/js/index.js"></script>
</body>
</html>