<body class="h-screen flex flex-col">
    <nav class="container">
        <ul class="flex justify-around">
            <li class="">Home</li>
            <li class="">Login</li>
            <li class="">Signup</li>
            <li class="">Tenesh</li>
            <li class="">Logout</li>
        </ul>
    </nav>