<body class="h-screen flex flex-col dark:bg-dark-primary-green">
<nav class="grid grid-cols-6 justify-between items-center mt-4 px-12 py-8">
    <div class="col-span-4 text-xl lg:col-span-3 xl:text-2xl">
        <ul class="flex justify-around font-semibold cursor-pointer">
            <li class="text-primary-green dark:text-secondary-green">Home</li>
            <li class="text-primary-green dark:text-secondary-green">About Us</li>
            <li class="text-primary-green dark:text-secondary-green">Services</li>
            <li class="text-primary-green dark:text-secondary-green">Contact Us</li>
        </ul>
    </div>
    <div class="flex col-start-6 items-center justify-self-end h-10">
        <img src="/images/sun-img.svg" alt="" class="h-10 sun cursor-pointer">
        <img src="/images/moon-img.svg" alt="" class="h-8 moon cursor-pointer">
    </div>
</nav>
