<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/navigation.ejs') %>

<div class="flex flex-grow">
    <div class="flex flex-col lg:grid lg:grid-cols-2 font-montserrat items-center">
        <div class="px-8 py-12 mx-auto xl:px-24">
            <img class="md:h-96 lg:h-full sm:object-cover object-center" src="/images/home_hero.png"
                 alt="Recycle trash and e-waste">
        </div>
        <div class="px-8 py-4 text-center lg:text-left">
            <h1 class="pb-6 text-4xl font-semibold text-primary-green md:text-6xl dark:text-secondary-green">It's time
                to recycle!</h1>
            <p class="pb-6 sm:px-20 md:text-2xl lg:px-0 2xl:mr-64 dark:text-white">We are a recycling service. <br>
                Glass recycling, paper recycling, metal recycling, plastic and textile
                recycling and finally electronic recycling.
            </p>
            <button class="px-4 py-1.5 text-primary-green text-lg border-2 border-primary-green rounded-full sm:text-2xl
            sm:px-6 sn:px-2 hover:bg-primary-green hover:border-primary-green dark:border-dark-secondary-green dark:hover:bg-secondary-green dark:hover:border-secondary-green">
                <h3 class="hover:text-secondary-green
            dark:text-dark-secondary-green dark:hover:text-dark-primary-green">Start Now</h3>
            </button>
        </div>
    </div>
</div>

<%- include('../includes/footer.ejs') %>

