<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/user/navigation.ejs') %>

<div class="flex flex-grow">
    <div class="flex flex-grow font-montserrat">
        <div class="grid grid-flow-rows-3 w-full mt-12 px-8 py-12 mx-auto lg:mt-0 lg:grid-rows-none lg:grid-cols-3 xl:px-24">
            <div class="flex flex-col items-center m-4 p-4 rounded-lg shadow-md dark:shadow-none">
                <h1 class="text-primary-green dark:text-secondary-green p-2 md:text-lg">My Account</h1>
                <div class="m-2 w-full dark:border-t-2 dark:border-secondary-green"></div>
            </div>
            <div class="flex flex-col items-center m-4 p-4 rounded-lg shadow-md dark:shadow-none">
                <h1 class="text-primary-green dark:text-secondary-green p-2 md:text-lg">My Orders</h1>
                <div class="m-2 w-full dark:border-t-2 dark:border-secondary-green"></div>
            </div>
            <div class="flex flex-col items-center m-4 p-4 rounded-lg shadow-md dark:shadow-none">
                <h1 class="text-primary-green dark:text-secondary-green p-2 md:text-lg">History</h1>
                <div class="m-2 w-full dark:border-t-2 dark:border-secondary-green"></div>
            </div>
        </div>
    </div>
</div>

<%- include('../includes/user/footer.ejs') %>